<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <appSettings>
    <add key="RootFolder" value="C:\Program Files\Solid Edge ST6\Training"/>
    <!--<add key="FileExtensions" value=".asm,.cfg,.dft,.par,.psm,.pwd"/>-->
    <add key="FileExtensions" value=".dft,.par,.psm,.pwd"/>
    <add key="TestProperties" value="true"/>
    <add key="ExtractEMFs" value="false"/>
    <add key="ExtractThumbnails" value="true"/>
    <add key="MaxFiles" value="1000"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
      <file value=" log.txt"/>
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%d [%t] %-5p %c %m%n" />-->
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>